

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  
}


.dark{
  background-color: #f9f7f6;
}



.invisible-menu{

  right: -180px;
  width: 180px;
  height: 100%;
  top:0;
  padding-top: 20px;

}
.visible-menu{

  right: 0px;
  background-color: white;
 width: 180px;
 height: 100%;
 top:0;
 padding-top: 20px;
 
}
